version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: <Usename>
      MONGO_INITDB_ROOT_PASSWORD: <Password>
volumes:
  mongo-data:
